
nav{
    background: #fff !important;
    box-shadow: 1px 3px 6px 2px #cccc;
    padding: 30px 0 20px !important;
    top: 0;
}
.header__nav{
    position: sticky !important;
}
.nav-link{
    position: relative;
    margin: 0px 20px;
    font-size: 14px;
    font-weight: 800;
    color: #333 !important;
    padding:0 !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.nav-link:last-child{
    margin-right: 0 !important;
}
.nav-link span{
    display: block;
    position: absolute;
    top: -15px;
    color: #666 !important;
    font-size: 14px;
    font-weight: 200;
}

.header__login{
    background: linear-gradient(90deg, #fe8f61 20%, #ec486c 80%);
    padding-left: 40px  !important;
    padding-right: 40px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    border-radius: 50px;
    color: #fff !important;
}